.hdg-label-popup {
    position: absolute;
    display: none;
    top: -50px;
    left: -155px;
    background-color: black;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    width: max-content;
    z-index: 1000;

  }

  .hdg-label-popup::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    z-index: 1000;
  }
  
  .icon:hover~.hdg-label-popup {
    display: block
  }

  .list {
    list-style-image: url(/src/assets/icons/search.png);
  }