@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Rajdhani:wght@400;700&display=swap");

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-white text-slate-700 font-cairo;
}

p {
	@apply p-0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-rajdhani font-bold p-0;
}


/* Swiper css */
#app { height: 100% }
/* html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
} */

.swiper-pagination-bullet{
    border-radius: 0%;
    height: 50%;
}

.swiper-pagination-bullet-active {
    background-color: #000 !important;
}

.swiper {
    width: 100%;
    height: 100%;
	display: flex;
	justify-items:center ;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #F3F4F6;

  /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next {
  background-image: url('../assets/events/nextEl.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url('../assets/events/prevEl.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev::after {
  display: none;
}